@import 'nib'
@import './defaults'

.container
    width 960px
    margin 0 auto

header
    padding 10px 0px
    h1
        color mainColor
        font-size 64px
        margin 0px


ul
    padding 10px 0px
    li
        color accentColor
        &.urgent
            color secondaryColor
    
    