@import 'nib'

@font-face
    font-family Avenir
    font-style normal
    src: url('/assets/fonts/Avenir-Medium.otf')

@font-face
    font-family Avenir
    font-style bold
    src: url('/assets/fonts/Avenir-Bold.ttf')

textColor = #e1e8ed
backgroundColor = #0b0b0c
mainColor = #4f4f4f
accentColor = #72c6fe
secondaryColor = #F76E59
secondaryAccent = #233138
largeSize = 24px
mainSize = 16px
subSize = 12px

*
    box-sizing border-box

html, body
    background backgroundColor
    height 100%
    width 100%

body
    color textColor
    font-family Avenir
    font-size mainSize
    margin 0px
    padding 0px
    text-rendering optimizeLegibility
    background-attachment fixed

p, ol, ul, td
    font-size mainSize
    margin 0px
    padding 0px

ul, ol
    list-style-type none

a
    cursor pointer
    color accentColor

label
    cursor pointer

::-webkit-input-placeholder
    font-weight normal
    font-family Avenir
    color mainColor

input:-moz-placeholder
    font-weight normal
    font-family Avenir    
    color mainColor

input[type=text]
    font-family Avenir
    width 280px
    height 40px
    padding 0px 10px
    font-size mainSize
    border none
    border-bottom-left-radius 5px
    color textColor
    border-bottom 2px solid accentColor
    border-left 1px solid accentColor
    background rgba(0,0,0,0)

textarea
    font-family Avenir
    font-size mainSize
    resize none
